section {
	background: #f7f7f7;
	border-radius: 3px;
	text-align: center;
	margin: 1em;
	position: relative !important;
	padding-bottom: 10px;
	[md-button], [md-raised-button], [md-fab] {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}
md-content {
	margin-right: 7px;
}
.label {
	position: absolute;
	bottom: 5px;
	left: 7px;
	font-size: 14px;
	opacity: 0.54;
}